html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}


*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotest', 'Courier New', Courier, monospace;
}

