html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
}

button,
input,
select,
textarea {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', 'Courier New', Courier, monospace;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h4,
h5,
h6 {
  line-height: 1.4;
}

.container {
  max-width: 1100px;
  margin: 0 auto; 
  padding: 0 20px;
}

.nav-logo {
  height: 50px;
  width: auto;
}

.hero-section {
  background-color: #1f2939;
}

.primary-nav {
  display: flex;
}

.item-2 {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  color: #e5e7eb;
}

.hero-section-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  color: #e5e7eb;
  padding: 5rem 0;
}

.hero-subsection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-item-3 {
  width: fit-content;
  padding: 8px 20px;
  color: #ffffff;
  background-color: #1469f1;
  border-radius: 8px;
}

.main-info-heading {
  text-align: center;
  margin: 3rem;
  font-size: 2.5rem;
}

.hero-image {
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  flex: 1;
}

.main-info {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card > p {
  text-align: justify;
  hyphens: auto;
  line-height: 1.6;
}

.main-info-h3 {
  text-align: center;
  font-size: 2rem;
}

.main-info-item-1,
.main-info-item-2,
.main-info-item-3 {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin: auto;
}

.quote-section {
  text-align: center;
  font-size: 1.7rem;
  padding: 5rem;
  background-color: #E5E7EB;
  font-style: italic;
}

.cta-section {
  display: flex;
  background-color: #1469f1;
  padding: 3rem;
  gap: 2rem;
  margin: 5rem;
  border-radius: 10px;
}

.cta-flex-left {
  display: flex; 
  flex-direction: column;
}

.cta-flex-left > h3 {
  color: #fff;
}

.cta-flex-left > p {
  color: #e5e7eb;
}

.cta-flex-right {
  display: flex;
  margin-left: auto;
}

.cta-button {
  width: fit-content;
  padding: 8px 20px;
  color: #ffffff;
  background-color: #1469f1;
  border-radius: 8px;
}

.footer {
  font-size: 1.2rem;
  background-color: #1f2939;
  color: #fff;
  padding: 2.5rem;
  text-align: center;
}