html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
}

button,
input,
select,
textarea {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', 'Courier New', Courier, monospace;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h4,
h5,
h6 {
  line-height: 1.4;
}


.nav-logo {
  height: 50px;
  width: auto;
}

.primary-nav {
  display: flex;
  margin: 10px;
}

.item-2 {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
}

.hero-section-main {
  display: flex;
  justify-content: center;
  margin: 10px;
}